@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, .main-menu > li > a, .ltext-102 {
    font-family: 'Roboto', sans-serif ;
}

.hidden  {
    display: none !important;
}

#button-loadMore {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }